.login-page {
  width: 300px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}

.card_list {
  padding: 10px 20px;
}
.card_margin_bottom {
  margin-bottom: 10px;
  border-bottom: 1px solid #999;
}
.site-back-top-basic {
  color: rgba(64, 64, 64, 0.6);
}
.title {
  padding: 0 20px;
  line-height: 40px;
}

.display_none {
  display: "none";
}

.play-box {
  max-width: 1000px;
  margin: 0 auto;
}

.list_focus {
  background-color: #e1e1e1;
}
